* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --color-background: #0d0d0d;
    --color-text: #F4F4F4;
    --color-button: #6732d9;
}

html {
    font-size: 65.5%;
    height: 100%;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 5rem;
    margin-top: 2rem;
}

button {
    background-color: var(--color-button);
    color: var(--color-text);

    border: none;
    border-radius: .4rem;

    padding: 1rem 3rem;
    

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 15pt;

    cursor: pointer;
}

.button {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.button button {
    margin-left: 1rem;
}

button:hover {
    opacity: .9;
}

@media screen and (max-width: 425px) {
    .button {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }

    .button button {
        margin-top: 4vw;
    }
}